<center>
<h1>LOGIN</h1>

<%= form_for(:session, url: login_path) do |form| %>
<%= form.email_field :email, placeholder: 'EMAIL', required: true %>
<%= form.password_field :password, placeholder: 'ENTER PASSWORD', required: true %>
<%= form.submit %>
<% end %>



  <div class="canvas animated bounceInRight">
    <div class="inner-canvas">

      <div class="school-body-roof animated bounceIn">
      </div>

      <div class="school-body-top">
        <div class="window"><div class="square2"><hr></div></div>

        <div class="window"><div class="square2"><hr></div></div>
        <div class="window"><div class="square2"><hr></div></div>
         <div class="window"><div class="square2"><hr></div></div>
      </div>

      <div class="school-body-middle">
      </div>

      <div class="school-body">

        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

        <div class="school-name"><i class="fas fa-atom"></i></div>

        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>


        <div></div>
        <div class="window">
          <div class="square"><hr></div>
        </div>
        <div></div>
        <div class="window"><div class="square"><hr></div></div>
        <div></div>
        <div></div>
        <div class="door-top">
          <div class="square"></div>
        </div>
        <div></div>
        <div></div>
        <div class="window"><div class="square"><hr></div></div>
        <div></div>
        <div class="window"><div class="square"><hr></div></div>
        <div></div>


        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="door-bottom">
          <div class="square"></div>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

      </div>
    </div>
  </div>



</center>
