<div class="edit-page">
  <h2>EDIT COHORT: </h2><h3><%= @cohort.name.upcase %></h3>

  <%= render 'form', cohort: @cohort %>
  <br>
  <div><p>
  <%= link_to 'Show', @cohort %> |
  <%= link_to 'Back', cohorts_path %></p>
</div>
</div>
