<div class="edit-page">

  <h2>EDIT INSTRUCTOR: <%= @instructor.full_name.upcase %></h2>

  <%= render 'form', instructor: @instructor %>
  <div>
    <p>
      <%= link_to 'Show', @instructor %>
      |
      <%= link_to 'Back', instructors_path %>
    </p>
  </div>
</div>
