<div class="welcome-page">

  <h1>
    ANIMAL FARM ACADEMY</h1>
  <div class="bar"></div>
  <p>
    Four years good, two legs bad
  </p>
  <% if logged_in? %>
    <h2>Welcome,
      <%= current_user.first_name %></h2>
  <% end %>

  <div class="welcome-boxes">
    <div class="show-inner">
      <div class="profile-pic">Pic</div>
      <div>
        <h3>MEET THE STUDENTS</h3>
        <div class="bar"></div>
      </div>
    </div>
    <div class="show-inner">
      <div class="profile-pic">Pic</div>
      <div>
        <h3>MEET THE FACULTY</h3>
        <div class="bar"></div>
      </div>
    </div>
    <div class="show-inner">
      <div class="profile-pic">Pic</div>
      <div>
        <h3>SEE THE COURSES</h3>
        <div class="bar"></div>
      </div>
    </div>
    <div class="show-inner">
      <div class="profile-pic">Pic</div>
      <div>
        <h3>SEE THE COHORTS</h3>
        <div class="bar"></div>
      </div>
    </div>
  </div>
</div>
