/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  background: radial-gradient(white, transparent), url('https://images.pexels.com/photos/264635/pexels-photo-264635.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard {
  margin: 20px;
  box-shadow: 0px 0 10px black;
  border-radius: 10px;
}

.site-header, .site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header {
  height: 30px;
  background-color: rgba(255, 255, 255, 0.73);
  border-radius: 10px 10px 0 0;
}

.site-footer {
  background-color: rgba(255, 255, 255, 0.73);
  height: 30px;
  color: rgb(46, 46, 46);
  border-radius: 0 0 10px 10px;
}

.content-area {
  display: grid;
  grid-template-columns: 200px calc(100vw - 255px);
  background-color: rgba(255, 255, 255, 0.73);
}

.sidebar-area {
  color: black;
  position: relative;
  width: 200px;
  padding: 0;
}

.menu {
  padding-top: 0px;
  list-style-type: none;
  margin: 0;
}

.menu {
  padding: 0;
  list-style-type: none;
}

.profile-pic {
  /* background-color:rgba(223, 160, 118, 0.41) ; */
  height: 100px;
}

.menu-item {
  position: relative;
  height: 30px;
}

.menu-item a {
  color: rgb(46, 46, 46);
  text-decoration: none;
  position: relative;
  display: block;
  height: 30px;
  margin: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item a:hover {
  color: #fff;
  background-color:rgba(200, 83, 84, .8);
}

.menu-item a:hover:before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid rgba(200, 83, 84, .8);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.main-body {
  min-height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.student-list-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding-top: 20px;
}

.instructor-list-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding-top: 20px;
}

.course-list-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 20px;
}

.cohort-list-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding-top: 20px;
}
