/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 20px;
}

.site-header, .site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header {
  height: 30px;
  background-color: #e7eaed;
}

.site-footer {
  background-color: #333536;
  height: 30px;
  color: #fff;
}

.content-area {
  display: grid;
  grid-template-columns: 200px calc(100vw - 255px)
}

.sidebar-area {
  background-color: #4a98d2;
  position: relative;
  width: 200px;
  padding: 0;
}

.menu {
  padding-top: 0px;
  list-style-type: none;
  margin: 0;
}

.menu {
  padding: 0;
  list-style-type: none;
}

.menu-item {
  position: relative;
  height: 30px;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: block;
  height: 30px;
  margin: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item a:hover {
  color: #fff;
  background-color: pink;
}

.main-body {
  overflow: scroll;
  height: calc(100vh - 100px);
  overflow: scroll;
  display: flex;
  flex-direction: column;

}
